.nav-link {
    transition: color 0.1s ease, 0.1s ease;
    color: lightgray;
}

.nav-link:hover {
    color: #D4A053;
}

.nav-link.active,
.nav-link.active-link {
    color: #FFC874 !important;
}

.nav-link:focus {
    outline: none;
}